* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.calculator {
    width: 600px;
    height: 1200px;
    background-color: #ECF0F3;
    position: absolute;
    left:30%;
}
.header {
    margin: 7% 43%;
    color: #34496E;
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0.25px;
    line-height: 22px;
}
.buttons input[type="button"] {
    background-color: #EBECF0;
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-radius: 9px;
    box-shadow: 5px 5px 10px 0 #A6ABBD, -5px -5px 10px 0 #FAFBFF;
    width: 114px;
    height: 114px;
    margin:10px;
    color: #34496E;
    font-size: 56px;
    font-weight: 400;
}
.buttons input[type="button"][name="vadd"] {
    height:248px;
    width:114px;
}  
.buttons input[type="button"][name="vequal"] {
    background-color: #E5B657;
}
.buttons input[type="button"]:hover {
    cursor: pointer;
}
.buttons input[type="button"]:active {
    box-shadow: inset 5px 5px 10px 0 #A6ABBD, inset -5px -5px 10px 0 #FAFBFF;
    transform: scale(0.8);
}
.buttons {
    display: flex;
    flex-direction: row;
    margin:30px;
}
.result {
    background-color: #ABBB9D;
    border: 2px solid #FFFFFF;
    border-radius: 28px;
    height:150px;
    width:500px;
    margin:20px;
}
.display {
    background-color: #EBECF0;
    border: 2px solid rgba(255, 255, 255, 0.4);
    border-radius: 28px;
    box-shadow: 10px 10px 20px 0 #A6ABBD, -10px -10px 20px 0 #FAFBFF;
    width: 540px;
    height: 190px;
    margin:30px;
    margin-bottom: 100px;
}
.result input {
    background: none;
    height:70px;
    width:190px;
    margin:60px 100px 40px 270px;
    font-size: 50px;
}