* {
    padding:0;
    margin:0;
    box-sizing: inherit;
}
.container {
    background-color: #ECF0F3;
    width: 640px;
    border-radius: 5px;
    position: fixed;
    left:33%;
}
.header {
    color: #34496E;
    font-size: 22px;
    font-weight: 400;
    letter-spacing: 0.5px;
    line-height: 26px;
    margin-top:3%;
    margin-left:44%;
}
.display-border {
    margin:5% 9%;
    background-color: #EBECF0;
    border: 2px solid rgba(255, 255, 255, 0.4);
    border-radius: 28px;
    box-shadow: 10px 10px 20px 0 #A6ABBD, -10px -10px 20px 0 #FAFBFF;
    width: 520px;
    height: 186px;
}
.display {
    background-color: #ABBB9D;
    border: 2px solid #FFFFFF;
    border-radius: 28px;
    width: 480px;
    height: 146px;
    margin: 4%;
}
.number {
    background-color: #EBECF0;
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-radius: 18px;
    box-shadow: 5px 5px 10px 0 #A6ABBD, -5px -5px 10px 0 #FAFBFF;
    width: 114px;
    height: 114px;
    text-align: center;
}
.line {
    margin: 2% 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.last-line {
    display: flex;
    flex-direction: row;
    margin-left:10%;
    margin-right:10%;
    justify-content: space-between;
}
.mini-line {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top:2%;
}
.plus {
    background-color: #EBECF0;
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-radius: 9px;
    box-shadow: 5px 5px 10px 0 #A6ABBD, -5px -5px 10px 0 #FAFBFF;
    width: 114px;
    height: 254px;
    text-align: center;
}